extend template
block content
    p #{content}
    p Yours truly, 
    p #{from_user}
    br
    a(href='/') Send an Ephemeral to someone special yourself!
    img(src='tracking.px?message_id=#{_id}') 

