extend template
block content
  
  if(!!content)
    p #{content}
    p Yours truly, 
    p #{from_user}
    br
    a(href= 'http://ephemeral-messages.herokuapp.com/') Send an Ephemeral to someone special yourself!
  else
    p 404 Ephemeral not found :( 


