extend template
block content
  h4  Some of the best things in life lasts only for a short moment in time. Messages sent can only be read once.
  br
  form(action='/message', method='POST')
    div(class='form-group')
      label(for='recipient') Recipient Email Address
      input(type='email', class='form-control transparent-input-style', name='recipient', required)
    div(class='form-group')
      label(for='content') Message
      textarea(class='form-control transparent-input-style', name='content', rows='3' required)
    div(class='form-group')
      label(for='from_user') Yours truly, 
      br
      input(type='text', class='form-control transparent-input-style', name='from_user')
    div(class='form-group')
      label(for='send_date') Send Date
      br
      input(type='date' class='transparent-input-style' name='send_date' id='send_date')
      br
      span(class='date-adder-style' onclick='return addDays(31)') + month
      span(class='date-adder-style' onclick='return addDays(1)') + day
      span(class='date-adder-style' onclick='setTodaysDate()') reset
    button(type='submit',class='btn btn-default') Send


