html
  head
    title #{title} - Ephemeral
    link(rel='stylesheet', href='/public/css/bootstrap.css')
  body

    div(class='container')
      div(class='row')
        div(class='col-md-offset-3 col-md-6')
          h1 Ephemeral
          p Send a message to yourself, a friend, or loved one in the   future and we'll send you the message in the specified time - whether it be a month or year. 
          
      div(class='row')
        div(class='col-md-offset-3 col-md-6')
          form(action='/message', method='POST')
            div(class='form-group')
              label(for='recipient') Recipient Email Address
              input(type='email', class='form-control', name='recipient', placeholder='Enter Email')
            div(class='form-group')
              label(for='content') Message
              textarea(class='form-control', name='content', rows='3')
            div(class='form-group')
              label(for='send_date') Send Date
              input(type='date', name='send_date')
            
            button(type='submit',class='btn btn-default') Submit
            
              