extend template
block content
  div(class='message-style') 
    h3
        span Success 
        span(class='glyphicon glyphicon-ok') 
    p(class='generic-content-style') The recipient will be sent a notification to read their Ephemeral at the specified date. We hope to see you again!
    a(href='/') Send another Ephemeral!