doctype html
html(lang="en")
  head
    title Ephemeral
    link(rel='stylesheet', type='text/css', href='/public/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/site.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/public/js/client.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(class='container')
      div(class='row')
        div(class='col-md-offset-3 col-md-6', style='z-index: 100')
          h1 Ephemeral
      div(class='row')
        div(class='col-md-offset-3 col-md-6 well')
          block content
      div(class='row')
          div(class='col-md-offset-3 col-md-6') 
            div(class='pull-right')
              include ephemeralStats
            p Made by Bess & Ray
