h1 {
   font-family: 'Bilbo Swash Caps', cursive;
   font-size: 7em;
   text-align: center;
   margin-bottom: -15px;
}

h3 {
  font-family: 'Bad Script';
  font-weight: bolder;
}

.generic-content-style {
  font-family: 'Bad Script';
  font-size: large;
}

body {
        background-image: url('/public/images/norwegian_rose_@2X.png');
    }

a, p, h4, label, span{
    font-family: 'Bad Script';
}

.content-style{
    font-family: 'Bad Script';
    font-size: x-large;
}

.message-style{
  padding: 50px;
}

span.glyphicon-envelope{
    font-size: 5em;
}

.heading-style{
    font-size: 7em;
    text-align: center;
    margin-bottom: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    font-family:'Bilbo Swash Caps';
}

.heading-div-style{
  margin-bottom: -45px;
}

.heading-style:link {
  text-decoration: none;
  color: #428BCA;
}

.heading-style:hover {
    text-decoration: none;
}


.heading-style:active {
  text-decoration: 
}

.date-adder-style{
  padding: 10px;
}
