h1 {
   font-family: 'Bilbo Swash Caps', cursive;
   font-size: 7em;
   text-align: center;
   margin-bottom: -15px;
}

h3 {
  font-family: 'Bad Script';
  font-weight: bolder;
}

.generic-content-style {
  font-family: 'Bad Script';
  font-size: large;
}

body {
        background-image: url('/public/images/norwegian_rose_@2X.png');
    }

.rice-paper-style {
        background-image: url('/public/images/scroll.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
    }

a, p, h4, label, span {
    font-family: 'Bad Script';
}

.btn-default {
  font-family: 'Bad Script';
}

.content-style{
    font-family: 'Bad Script';
    font-size: medium;
    color: dimgray;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.message-style{
  padding-top: 65px;
}

.heading-style{
    font-size: 7em;
    text-align: center;
    margin-bottom: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    font-family:'Bilbo Swash Caps';
    color: darkslategray;
}

.heading-div-style{
  margin-bottom: -45px;
}

.heading-style:link {
  text-decoration: none;
  color: #428BCA;
}

.heading-style:hover {
    text-decoration: none;
}


.heading-style:active {
  text-decoration: 
}

.date-adder-style{
  padding: 10px;
}

.transparent-input-style{
  background-color: rgba(255,255,255,0.4);
  font-family: 'Bad Script';
}

.form-style {
  padding-left: 135px;
  padding-right: 100px;
  padding-bottom: 70px;
  border: none;
}

.github-logo-style {
  height: 30px;
}
